<template>
  <div>
    <table>
      <tr>
        <td style="width: 200px;">Algorithm selection:</td>
        <td style="width: 550px;">
          <b-form-select v-model="selectedAlgorithm" :options="algorithms"></b-form-select>
        </td>
      </tr>
      <tr>
        <td style="width: 200px;">Feature functions selection:</td>
        <td style="width: 550px;">
          <b-form-select v-model="selectedFeatureFunctionPackage" :options="ffPackages"></b-form-select>
        </td>
      </tr>
      <tr>
        <td>Training:</td>
        <td>
          <button class="btn btn-default" type="button" v-on:click="trainClassifier">Train classifier</button>
          <pulse-loader :loading="loadingTrain" color="#faebcc"></pulse-loader>
          <span v-if="trained">Classifier trained</span>
        </td>
      </tr>
      <tr>
        <td>Tagging:</td>
        <td>
          <button class="btn btn-default" type="button" v-on:click="tagUsingClassifier" :disabled="!trained">Tag test dataset</button>
          <pulse-loader :loading="loadingTag" color="#faebcc"></pulse-loader>
          <span v-if="tagged">Dataset tagged</span>
        </td>
      </tr>
      <tr>
        <td>Evaluation:</td>
        <td>
          <button class="btn btn-default" type="button" v-on:click="evaluate" :disabled="!tagged">Evaluate</button>
          <pulse-loader :loading="loadingEval" color="#faebcc"></pulse-loader>
        </td>
      </tr>
      <tr v-if="results.length != 0">
        <td>Results:</td>
        <td>
          <table>
            <tr v-for="result in results" :key="result.text">
              <td>
                {{result.text}}:
              </td>
              <td>
                {{result.value}}
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</template>

<script>
  import {HTTP} from './../lib/http-common'
  import PulseLoader from 'vue-spinner/src/PulseLoader.vue'

  export default {

    data() {
      return {
        trained: false,
        tagged: false,
        loadingTrain: false,
        loadingTag: false,
        loadingEval: false,
        algorithms: [],
        selectedAlgorithm: "",
        ffPackages: [],
        selectedFeatureFunctionPackage: "",
        results: []
      }
    },

    beforeMount() {
      this.getAlgorithms()
      this.getFFPackages()
    },

    methods: {
      getAlgorithms() {
        HTTP.get('examples/coreferences/algorithms')
          .then(response => {
            this.algorithms = response.data
            this.selectedAlgorithm = this.algorithms[0].value
          })
          .catch(e => {
            console.error(e)
          })
      },

      getFFPackages() {
        HTTP.get('examples/coreferences/featureFunctionPackages')
          .then(response => {
            this.ffPackages = response.data
            this.selectedFeatureFunctionPackage = this.ffPackages[0].value
          })
          .catch(e => {
            console.error(e)
          })
      },

      trainClassifier() {
        this.loadingTrain = true
        HTTP.post('examples/coreferences/train/' + 'examplesTrain', {
          algorithm: this.selectedAlgorithm,
          featureFunctionPackage: this.selectedFeatureFunctionPackage,
          parameters: {}
        })
          .then(response => {
            this.trained = response.data.result
            this.loadingTrain = false
          })
          .catch(e => {
            console.error(e)
            this.loadingTrain = false
          })
      },

      tagUsingClassifier() {
        this.loadingTag = true
        HTTP.get('examples/coreferences/tag/' + 'examplesTest')
          .then(response => {
            this.tagged = response.data.result
            this.loadingTag = false
          })
          .catch(e => {
            console.error(e)
            this.loadingTag = false
          })
      },

      evaluate() {
        HTTP.get('examples/coreferences/evaluate/' + 'examplesTest')
          .then(response => {
            this.results = response.data
          })
          .catch(e => {
            console.error(e)
          })
      }
    },

    components: {
      PulseLoader
    }

  }

</script>

<style>
  td {
    padding: 10px;
  }
</style>
