<template>
  <div>
    <link rel="stylesheet" type="text/css" href="/static/brat/style-vis.css"/>
    <table>
      <tr>
        <td>
          <navigator v-bind:ids="docIds" v-bind:idx="docIdx" v-on:change-id="changeDocIdx">Navigator</navigator>
        </td>
        <td>
          <b-form-checkbox v-model="showClustersSelected"
                           value="yes"
                           unchecked-value="no"
                           @change="showClusters" style="font-weight: normal;">
            Show coreference clusters
          </b-form-checkbox>
        </td>
      </tr>
    </table>



    <div v-if="clustersShown">
      <b>Original clusters:</b><br />
      <span v-for="(text, index) in realClusters" :key="index">
          &nbsp;{{text}}<br />
      </span>
      <br />

      <b>Tagged clusters:</b><br />
      <span v-for="(text, index) in taggedClusters" :key="index">
        &nbsp;{{text}}<br />
      </span>
    </div>
    <br />

    <div>
      <b>Original data:</b>
      <div id="bratvis"></div>
      <br />
      <b>Tagged test data:</b>
      <div id="bratvis_tagged"></div>
    </div>
  </div>
</template>

<script>
  import Navigator from './Navigator.vue'
  import NavigatorSelector from './NavigatorSelector.vue'
  import {HTTP} from './../lib/http-common'

  export default {
    data () {
      return {
        length: 1,
        docIdx: 0,
        docIds: [],
        bratDocInputHandler: function () {},
        bratDocInputHandlerTagged: function () {},
        collData: require('../../static/brat-nutie/collData.json'),
        docData: require('../../static/brat-nutie/docData.json'),
        docDataTagged: require('../../static/brat-nutie/docData.json'),
        showClustersSelected: "no",
        realClusters: [],
        taggedClusters: []
      }
    },

    computed: {
      clustersShown: {
        get: function () {
          return this.showClustersSelected == "yes"
        }
      }
    },

    beforeMount() {

    },

    mounted () {
      require('./../../static/brat/client/lib/head.load.min.js');

      head.js(
        // External libraries
        '/static/brat/client/lib/jquery.min.js',
        '/static/brat/client/lib/jquery.svg.min.js',
        '/static/brat/client/lib/jquery.svgdom.min.js',
        // Brat helper modules
        '/static/brat/client/src/configuration.js',
        '/static/brat/client/src/util.js',
        '/static/brat/client/src/annotation_log.js',
        '/static/brat/client/lib/webfont.js',
        // Brat modules
        '/static/brat/client/src/dispatcher.js',
        '/static/brat/client/src/url_monitor.js',
        {vis: '/static/brat/client/src/visualizer.js'}
      );
      // NOTE: simple hack with naming the library for the function below to work.
      // Otherwise head.ready does not execute if not loaded immediately
      // at application startup.

      var vue = this
      var webFontURLs = [
        '/static/brat/static/fonts/Astloch-Bold.ttf',
        '/static/brat/static/fonts/PT_Sans-Caption-Web-Regular.ttf',
        '/static/brat/static/fonts/Liberation_Sans-Regular.ttf'
      ];

      head.ready('vis', function() {

        // Time for some "real" brat coding, let's hook into the dispatcher
        var liveDispatcher = Util.embed('bratvis',
          $.extend({'collection': null}, vue.collData),
          $.extend({}, vue.docData), webFontURLs);
        var liveDispatcherTagged = Util.embed('bratvis_tagged',
          $.extend({'collection': null}, vue.collData),
          $.extend({}, vue.docData), webFontURLs);

        var renderError = function() {
          console.log("Eror happened during the bratvis update!");
        };
        liveDispatcher.on('renderError: Fatal', renderError);
        liveDispatcherTagged.on('renderError: Fatal', renderError);

        var docInputHandler = function() {
          try {
            liveDispatcher.post('requestRenderData', [$.extend({}, vue.docData)]);
          } catch(e) {
            console.error('requestRenderData went down with:', e);
          }
        };
        vue.bratDocInputHandler = docInputHandler

        var docInputHandlerTagged = function() {
          try {
            liveDispatcherTagged.post('requestRenderData', [$.extend({}, vue.docDataTagged)]);
          } catch(e) {
            console.error('requestRenderData went down with:', e);
          }
        };
        vue.bratDocInputHandlerTagged = docInputHandlerTagged
      });

      this.loadDocumentIds()
    },

    components: {
      Navigator,
      NavigatorSelector
    },

    methods: {
      changeDocIdx(newIdx) {
        this.docIdx = newIdx
        this.loadSelectedDocument()
        if (this.clustersShown) {
          this.showClusters(true)
        }
      },

      loadDocumentIds() {
        HTTP.get(`examples/examplesTest/documentIds`)
          .then(response => {
            this.docIds = response.data
            this.length = this.docIds.length
            this.loadSelectedDocument()
          })
          .catch(e => {
            console.error(e)
          })
      },

      loadSelectedDocument() {
        HTTP.get(`examples/coreferences/brat/examplesTest/` + this.docIds[this.docIdx])
          .then(response => {
            this.docData = response.data
            this.bratDocInputHandler()
          })
          .catch(e => {
            console.error(e)
          })

        HTTP.get(`examples/coreferences/brat/tagged/examplesTest/` + this.docIds[this.docIdx])
          .then(response => {
            this.docDataTagged = response.data
            this.bratDocInputHandlerTagged()
          })
          .catch(e => {
            console.error(e)
          })
      },

      showClusters(newValue) {
        if (newValue) {
          HTTP.get(`examples/coreferences/taggedClusters/` + this.docIds[this.docIdx])
            .then(response => {
              this.taggedClusters = response.data
            })
            .catch(e => {
              console.error(e)
            })

          HTTP.get(`examples/coreferences/realClusters/examplesTest/` + this.docIds[this.docIdx])
            .then(response => {
              this.realClusters = response.data
            })
            .catch(e => {
              console.error(e)
            })
        }
      }
    }
  }
</script>


<style scoped>
  td {
    padding: 5px;
  }
</style>
