<template>
  <div>
    <link rel="stylesheet" type="text/css" href="/static/brat/style-vis.css"/>
    <table>
      <tr>
        <td>
          <navigator v-bind:ids="docIds" v-bind:idx="docIdx" v-on:change-id="changeDocIdx">Navigator</navigator>
        </td>
        <td>
          Selected data:
        </td>
        <td>
          <data-selector v-bind:data="selectedData" v-on:change-data="changeData"></data-selector>
        </td>
      </tr>
    </table>

    <div id="bratvis"></div>
  </div>
</template>

<script>
  import Navigator from './Navigator.vue'
  import NavigatorSelector from './NavigatorSelector.vue'
  import {HTTP} from './../lib/http-common'
  import DataSelector from './DataSelector.vue'

  export default {
    data () {
      return {
        length: 1,
        docIdx: 0,
        docIds: [],
        bratDocInputHandler: function () {},
        collData: require('../../static/brat-nutie/collData.json'),
        docData: require('../../static/brat-nutie/docData.json'),
        selectedData: "examples"
      }
    },

    beforeMount() {
    },

    mounted () {
      require('./../../static/brat/client/lib/head.load.min.js');

      head.js(
        // External libraries
        '/static/brat/client/lib/jquery.min.js',
        '/static/brat/client/lib/jquery.svg.min.js',
        '/static/brat/client/lib/jquery.svgdom.min.js',
        // Brat helper modules
        '/static/brat/client/src/configuration.js',
        '/static/brat/client/src/util.js',
        '/static/brat/client/src/annotation_log.js',
        '/static/brat/client/lib/webfont.js',
        // Brat modules
        '/static/brat/client/src/dispatcher.js',
        '/static/brat/client/src/url_monitor.js',
        {vis: '/static/brat/client/src/visualizer.js'}
      );
      // NOTE: simple hack with naming the library for the function below to work.
      // Otherwise head.ready does not execute if not loaded immediately
      // at application startup.

      var vue = this
      var webFontURLs = [
        '/static/brat/static/fonts/Astloch-Bold.ttf',
        '/static/brat/static/fonts/PT_Sans-Caption-Web-Regular.ttf',
        '/static/brat/static/fonts/Liberation_Sans-Regular.ttf'
      ];

      head.ready('vis', function() {

        // Time for some "real" brat coding, let's hook into the dispatcher
        var liveDispatcher = Util.embed('bratvis',
          $.extend({'collection': null}, vue.collData),
          $.extend({}, vue.docData), webFontURLs);

        var renderError = function() {
          console.log("Eror happened during the bratvis update!");
        };

        liveDispatcher.on('renderError: Fatal', renderError);

        /* Uncomment for changing brat schema */
        /*
         var collInputHandler = function() {
         try {
         liveDispatcher.post('collectionLoaded',
         [$.extend({'collection': null}, vue.collData)]);
         } catch(e) {
         console.error('collectionLoaded went down with:', e);
         }
         };*/

        var docInputHandler = function() {
          try {
            liveDispatcher.post('requestRenderData', [$.extend({}, vue.docData)]);
          } catch(e) {
            console.error('requestRenderData went down with:', e);
          }
        };
        vue.bratDocInputHandler = docInputHandler
      });

      this.loadDocumentIds()
    },

    components: {
      Navigator,
      NavigatorSelector,
      DataSelector
    },

    methods: {
        changeDocIdx(newIdx) {
          this.docIdx = newIdx
          this.loadSelectedDocument()
        },

        loadDocumentIds() {
          HTTP.get('examples/' + this.selectedData + '/documentIds')
            .then(response => {
              this.docIds = response.data
              this.length = this.docIds.length
              this.loadSelectedDocument()
            })
            .catch(e => {
              console.error(e)
            })
        },

      loadSelectedDocument() {
        HTTP.get('examples/coreferences/brat/' + this.selectedData + '/' + this.docIds[this.docIdx])
          .then(response => {
            this.docData = response.data
            this.bratDocInputHandler()
          })
          .catch(e => {
            console.error(e)
          })
      },

      reinit() {
        this.docIdx = 0
        this.loadDocumentIds()
      },

      changeData(dataName) {
        this.selectedData = dataName
        this.reinit()
      }
    }
  }
</script>


<style scoped>
  td {
    padding: 5px;
  }
</style>
