<template xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml"
          xmlns:v-if="http://www.w3.org/1999/xhtml" xmlns:v-for="http://www.w3.org/1999/xhtml">
  <div>
    <table ref="infoTable">
      <tr>
        <td>Dataset loader selection:</td>
        <td>
          <b-form-select v-model="loaderType" class="mb-3" v-if="!loading">
            <option value="ssj500k">ssj500k</option>
            <option value="coref149">coref149</option>
          </b-form-select>
        </td>
      </tr>
      <tr>
        <td style="width: 200px;">Dataset:</td>
        <td style="width: 550px;">
          <div class="input-group input-group-sm" style="padding: 2px;" v-if="!loading">
            <b-form-input type="text" class="form-control" v-model="filename1" :placeholder="filename1Placeholder"></b-form-input>
            <b-form-input type="text" class="form-control" v-model="filename2" v-if="this.filename2Placeholder.length > 0" :placeholder="filename2Placeholder"></b-form-input>

            <span class="input-group-btn">
                        <button id='load_button' class="btn btn-default" type="button" v-on:click="loadDataset">Load dataset</button>
            </span>
          </div><!-- /input-group -->
          <pulse-loader :loading="loading" color="#faebcc"></pulse-loader>
        </td>
      </tr>
      <tr>
        <td>Labels:</td>
        <td>
          <div id="labelset" class="btn-group" role="group" aria-label="..." style="padding: 2px;">
            <button type="button" class="btn btn-default" v-for="item in tokenTypes" v-on:click="showOrHideLabel(item)" v-bind:class="{ active: selectedTokenTypes.findIndex((i) => i.field === item.field) > -1}">{{ item.headerName }}</button>
          </div>
        </td>
      </tr>
      <tr>
        <td>Navigator:</td>
        <td>
          <navigator v-bind:ids="{length: length}" v-bind:idx="sentenceIdx" v-bind:selector="false" v-on:change-id="getSentence">Navigator</navigator>
        </td>
      </tr>
    </table>

    <ag-grid-vue style="width: 100%;" class="ag-fresh"
                 :gridOptions="gridOptions" v-bind:style="{ height: gridHeight + 'px' }">
    </ag-grid-vue>
  </div>
</template>

<script>
  import {HTTP} from './../lib/http-common'
  import PulseLoader from 'vue-spinner/src/PulseLoader.vue'
  import Navigator from './Navigator.vue'
  import "../../node_modules/ag-grid/dist/styles/ag-grid.css";
  import "../../node_modules/ag-grid/dist/styles/theme-fresh.css";
  import {AgGridVue} from 'ag-grid-vue';

  export default {
      props: ["proposedHeight"],

      data () {
          return {
            loaderType: null,
            filename1: null,
            filename1Placeholder: "",
            filename2: null,
            filename2Placeholder: "",
            loading: false,
            length: 0,
            sentenceIdx: 0,
            sentence: [],
            tokenTypes: [],
            selectedTokenTypes: [{headerName: "OBS", field: "OBS"}],

            gridOptions: null,

            isMounted: false
          }
      },

    computed: {
      loaded: {
          get: function() {
              return this.tokenTypes.length > 0 && this.sentence.length > 0
          }
      },
      gridHeight: {
          get: function() {
              if (this.isMounted) {
                return this.proposedHeight - this.$refs.infoTable.clientHeight - 65
              } else {
                return this.proposedHeight - 100
              }
          }
      }
    },

    watch: {
      loaderType: function (newVal) {
        this.changeLoaderType(newVal)
      }
    },

    methods: {
      loadDataset() {
        this.loading = true;
        HTTP.post(`examples/load`, {
          loaderType: this.loaderType,
          filename1: this.filename1,
          filename2: this.filename2
        })
          .then(response => {
            this.loading = false
            this.initData()
          })
          .catch(e => {
            this.loading = false
            console.error(e)
          })
      },

      changeLoaderType(newLoaderType) {
        if (newLoaderType == "ssj500k") {
          this.filename1Placeholder = "Enter path to ssj500k xml file."
          this.filename2Placeholder = ""
        } else if (newLoaderType == "coref149") {
          this.filename1Placeholder = "Enter path to ssj500k v1.4 xml file."
          this.filename2Placeholder = "Enter path to the coref149 dataset folder."
        } else {
          console.log("Unsupported loader type selected!")
        }
      },

      initData() {
        this.getNumberOfSentences()
        this.getTokenTypes()
        this.getSentence(0)
      },

      getNumberOfSentences() {
          HTTP.get("examples/size")
            .then(response => {
              this.length = response.data.result
            })
            .catch(e => {
              console.error(e)
            })
      },

      getTokenTypes() {
        HTTP.get("/examples/tokenTypes")
          .then(response => {
            this.tokenTypes = response.data
          })
          .catch(e => {
            console.error(e)
          })
      },

      getSentence(newIdx) {
        this.sentenceIdx = newIdx

        HTTP.get("/examples/sentence/" + this.sentenceIdx)
          .then(response => {
            this.sentence = response.data
            this.gridOptions.api.setRowData(this.sentence);
          })
          .catch(e => {
            console.error(e)
          })
      },

      showOrHideLabel(item) {
          if (item.field != 'OBS') { //OBS must be always shown
            var idx = this.selectedTokenTypes.findIndex((i) => i.field === item.field)
            if (idx == -1) {
              // add to selected
              this.selectedTokenTypes.push(item)
            } else {
              // remove from selected
              this.selectedTokenTypes.splice(idx, 1)
            }
            // update grid
            this.gridOptions.api.setColumnDefs(this.selectedTokenTypes)
          }
      }
    },

    components: {
      PulseLoader,
      Navigator,
      AgGridVue
    },

    beforeMount() {
      this.gridOptions = {}
      this.gridOptions.rowData = this.sentence
      this.gridOptions.columnDefs = this.selectedTokenTypes
      this.loaderType = "ssj500k"
    },

    mounted() {
      this.isMounted = true
      this.changeLoaderType(this.loaderType)

      //STORE GLOBAL VARS
      HTTP.get("/examples/loaded")
        .then(response => {
          if (response.data.result) {
            this.initData()
          }
        })
        .catch(e => {
          console.error(e)
        })
    }

  }
</script>

<style>

</style>
