<template xmlns:v-bind="http://www.w3.org/1999/xhtml">
  <b-form-select v-model="selected" :options="options"></b-form-select>
</template>

<script>
  export default {
    props: ["data"],

    data() {
      return {
        options: [
          { value: 'examples', text: 'Whole dataset' },
          { value: 'examplesTrain', text: 'Training set' },
          { value: 'examplesTest', text: 'Test set' }
        ]
      }
    },

    computed: {
      selected: {
        get: function () {
          return this.data
        },
        set: function (newValue) {
          this.$emit("change-data", newValue)
        }
      }
    }

  }
</script>

<style>

</style>
