<template>
  <table>
    <tr>
      <td>
        Train dataset size:
      </td>
      <td>
        <div class="input-group input-group-sm" style="padding: 2px;">
          <input id="dataset" type="text" class="form-control" v-bind:value="trainPercent">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" v-on:click="splitDataset">Split dataset</button>
          </span>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <pulse-loader :splitting="splitting" color="#faebcc" v-show="splitting"></pulse-loader>
        <span v-if="split">Dataset split</span>
      </td>
      <td>
        &nbsp;
      </td>
    </tr>
  </table>
</template>

<script>
  import {HTTP} from './../lib/http-common'
  import PulseLoader from 'vue-spinner/src/PulseLoader.vue'

  export default {

    data() {
      return {
        splitting: false,
        split: false,
        trainPercent: 0.7
      }
    },

    methods: {
      splitDataset() {
        this.splitting = true
        HTTP.get('examples/split/' + this.trainPercent)
          .then(response => {
            this.split = response.data.result
            this.splitting = false
          })
          .catch(e => {
            console.error(e)
            this.splitting = false
          })
      }
    },

    components: {
      PulseLoader
    }

  }

</script>

<style>

</style>
