<template>
  <div>
    {{ msg }}

    <div id="toolbar" class="ui-widget-header ui-corner-all" style="padding: 2px;">
      <button id="beginning" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-fast-backward" aria-hidden="true"></span></button>
      <button id="rewind" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span></button>
      <button id="forward" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span></button>
      <button id="end" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-fast-forward" aria-hidden="true"></span></button>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      msg: 'nutIE - Information extraction intelligent and fun'
    }
  }
}
</script>


<style scoped>

</style>
