<template xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
  <table>
    <tr>
      <td>
        Current item:
      </td>
      <td v-if="selector">
        <navigator-selector v-bind:allItems="ids" v-bind:idx="idx" v-on:change-id="changeDocIdx"></navigator-selector>
      </td>
      <td>
        ({{ idx }}/{{ Math.max(ids.length-1, 0) }})
      </td>
      <td>
        <div id="toolbar" class="ui-widget-header ui-corner-all" style="padding: 2px;">
          <button v-on:click="beginning" id="beginning" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-fast-backward" aria-hidden="true"></span></button>
          <button v-on:click="stepBack" id="rewind" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span></button>
          <button v-on:click="stepForward" id="forward" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span></button>
          <button v-on:click="end" id="end" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-fast-forward" aria-hidden="true"></span></button>
        </div>
      </td>
    </tr>
  </table>
</template>

<script>
  import NavigatorSelector from './NavigatorSelector.vue'

  export default {
    //ids is normally array of elements, but can also be object containing length attribute (if many elements or selector not needed)!
    props: {ids: null, idx: Number, selector: {default: true, type: Boolean}},

    data () {
      return {
      }
    },

    mounted () {
    },

    methods: {
      beginning() {
        this.$emit("change-id", 0)
      },
      end() {
        this.$emit("change-id", this.ids.length-1)
      },
      stepBack() {
        this.$emit("change-id", Math.max(this.idx-1, 0))
      },
      stepForward() {
        this.$emit("change-id", Math.min(this.idx+1, this.ids.length-1))
      },
      changeDocIdx(newIdx) {
        this.$emit("change-id", newIdx)
      }
    },

    components: {
      NavigatorSelector
    }
  }
</script>

<style scoped>
  td {
    padding: 5px;
  }
</style>
