<template xmlns:v-bind="http://www.w3.org/1999/xhtml">
  <div>
    <b-form-select v-model="selected" :options="allItems"></b-form-select>
  </div>
</template>

<script>
  export default {
    props: ["allItems", "idx"],

    computed: {
      selected: {
        get: function () {
          return this.allItems[this.idx]
        },
        set: function (newValue) {
          var idx = this.allItems.indexOf(newValue)
          this.$emit("change-id", idx)
        }
      }
    }
  }
</script>

<style>

</style>
