<template xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
  <ul>
    <li data-widget="dataset" style="position: relative; width: 290px; height: 100%; border: 1px solid transparent; border-color: #ccc; border-radius: 4px; float: left; padding: 5px; margin-bottom: 3px; cursor: pointer;"
      v-for="widget in widgets" v-on:click="route(widget.path)">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close" v-on:click="deleteWidget(widget)"><span aria-hidden="true" style="color: red; font-weight: bolder;">&times;</span></button>
      {{widget.name}}
    </li>
  </ul>
</template>

<script>
import Router from './../router/index'

export default {
    props: ["widgets"],

  methods: {
        deleteWidget(widget) {
          this.$emit("delete", widget)
        },

    route(name) {
      Router.push(name)
    }
  }

}
</script>


<style scoped>

</style>
