<template xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
  <div id="app" style="height: 100%; width: 100%; margin: 0;">
    <nav class="navbar navbar-default" style="margin-bottom: 0px;">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
            <img src="../static/img/nuts.png" style="margin-top: -15px;" alt="nutIE - information processing & extraction">
          </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav" id="pages">
            <li data-menu="executor" @click.prevent="firstMenu = 'executor'" v-bind:class="{active: firstMenu == 'executor'}"><a href="#">Executor</a></li>
            <li data-menu="explorator" @click.prevent="firstMenu = 'explorator'" v-bind:class="{active: firstMenu == 'explorator'}"><a href="#">Explorator</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">System</a></li>
            <li class="dropdow">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div id="2nd-level-menu" class="container-fluid" style="margin-top: 5px;">
      <!-- EXECUTOR -->
      <ul id="executor-tabs" class="nav nav-tabs" v-show="firstMenu == 'executor'">
        <li role="presentation" @click.prevent="secondMenu = 'dataset'" v-bind:class="{active: secondMenu == 'dataset'}"><a href="#" data-tab="dataset">Dataset</a></li>
        <li role="presentation" @click.prevent="secondMenu = 'preprocessing'" v-bind:class="{active: secondMenu == 'preprocessing'}"><a href="#" data-tab="preprocessing">Preprocessing</a></li>
        <li role="presentation" @click.prevent="secondMenu = 'supervised'" v-bind:class="{active: secondMenu == 'supervised'}"><a href="#" data-tab="supervised">Supervised</a></li>
        <li role="presentation" @click.prevent="secondMenu = 'unsupervised'" v-bind:class="{active: secondMenu == 'unsupervised'}"><a href="#" data-tab="unsupervised">Unsupervised</a></li>
      </ul>

      <!-- EXPLORATOR -->
      <ul id="explorator-tabs" class="nav nav-tabs" v-show="firstMenu == 'explorator'" >
        <li role="presentation" @click.prevent="secondMenu = 'preprocessing'" v-bind:class="{active: secondMenu == 'preprocessing'}"><a href="#" data-tab="preprocessing">Preprocessing</a></li>
        <li role="presentation" @click.prevent="secondMenu = 'ie'" v-bind:class="{active: secondMenu == 'ie'}"><a href="#" data-tab="ie">Information extraction</a></li>
        <li role="presentation" @click.prevent="secondMenu = 'unsupervised'" v-bind:class="{active: secondMenu == 'unsupervised'}"><a href="#" data-tab="unsupervised">Unsupervised</a></li>
      </ul>
    </div>
    <div id="3rd-level-menu" class="container-fluid" style="margin-top: 5px;">
      <!-- EXECUTOR -->
      <div id="executor-btn-toolbar" role="toolbar" v-show="firstMenu == 'executor'">
        <button type="button" class="btn btn-default btn-sm " v-show="secondMenu == 'dataset'" v-on:click="addWidget({ name: 'Dataset loader', path: '/' })">
          Dataset<br /> loader
        </button>
        <button type="button" class="btn btn-default btn-sm " v-show="secondMenu == 'dataset'" disabled>
          Website<br /> loader
        </button>
        <button type="button" class="btn btn-default btn-sm " v-show="secondMenu == 'dataset'" v-on:click="addWidget({ name: 'Dataset splitter', path: 'datasetSplitter' })">
          Dataset<br /> splitter
        </button>
        <button type="button" class="btn btn-default btn-sm " v-show="secondMenu == 'preprocessing'" disabled>
          Part-of-speech<br /> tagger
        </button>
        <button type="button" class="btn btn-default btn-sm " v-show="secondMenu == 'preprocessing'" disabled>
          Lemmatizer<br /> &nbsp;
        </button>
        <button type="button" class="btn btn-default btn-sm " v-show="secondMenu == 'supervised'" disabled>
          Named entity<br /> recognizer
        </button>
        <button type="button" class="btn btn-default btn-sm " v-show="secondMenu == 'supervised'" disabled>
          Relationship<br /> extractor
        </button>
        <button type="button" class="btn btn-default btn-sm " v-show="secondMenu == 'supervised'" v-on:click="addWidget({ name: 'Coreference resolution', path: 'coreferenceResolution' })">
          Coreference<br /> resolution
        </button>
        <button type="button" class="btn btn-default btn-sm " v-show="secondMenu == 'unsupervised'" disabled>
          Open information<br /> extractor
        </button>
      </div>

      <!-- EXPLORATOR -->
      <div id="explorator-btn-toolbar" role="toolbar" v-show="firstMenu == 'explorator'">
        <button type="button" class="btn btn-default btn-sm unsupervised" disabled>
          Open information<br /> extraction
        </button>
        <button type="button" class="btn btn-default btn-sm" v-show="secondMenu == 'ie'" disabled>
          Named entities<br /> visualizer
        </button>
        <button type="button" class="btn btn-default btn-sm" v-show="secondMenu == 'ie'" data-widget="relationship-visualization" disabled>
          Relationships<br /> visualizer
        </button>
        <button type="button" class="btn btn-default btn-sm" v-show="secondMenu == 'ie'" disabled>
          Coreferences<br /> visualizer
        </button>
        <button type="button" class="btn btn-default btn-sm" v-show="secondMenu == 'ie'" disabled>
          Specific attribute<br /> type visualizer
        </button>
        <button type="button" class="btn btn-default btn-sm" v-show="secondMenu == 'ie'" v-on:click="addWidget({ name: 'Coreferences visualizer', path: 'coreferencesViewer' })">
          Coreferences<br /> visualizer
        </button>
        <button type="button" class="btn btn-default btn-sm" v-show="secondMenu == 'ie'" v-on:click="addWidget({ name: 'Coreferences comparer', path: 'coreferencesComparer' })">
          Coreferences<br /> comparer
        </button>
      </div>
    </div>

    <!-- MAIN CONTENT -->
    <div style="margin-top: 5px; margin-left: 5px; overflow: auto; height: calc(100% - 210px);">
      <!-- LEFT SIDE -->
      <div id="left-side-container" style="position: relative; width: 300px; height: 100%; border: 1px solid transparent; border-color: #ccc; border-radius: 4px; float: left; padding: 5px;">
        <ul id="widgets" style="list-style: none;  -webkit-padding-start: 0px;" is="widgets" v-bind:widgets="activeWidgets" v-on:delete="deleteWidget">
        </ul>
      </div>

      <!-- RIGHT SIDE -->
      <div id="right-side-container" ref="rightContainer" style="position: relative; overflow: auto; left: 5px; margin-right: 10px; height: 100%; border: 1px solid transparent; border-color: #ccc; border-radius: 4px; padding: 5px;">
        <router-view v-bind:proposedHeight="rightContainerHeight"></router-view>
      </div>
    </div>

    <!-- FOOTER -->
    <nav class="navbar navbar-default navbar-fixed-bottom">
      <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="http://zitnik.si" class="navbar-link">&copy; Slavko Žitnik</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</template>

<script>
import Widgets from './components/Widgets.vue'
import Router from './router/index'

export default {

    data () {
        return {
          firstMenu: "executor",
          secondMenu:  "dataset",
          activeWidgets: [{ name: 'Dataset loader', path: '/' }],

          isMounted: false
        }
    },

  components: {
        Widgets
  },

  computed: {
    rightContainerHeight: {
      get: function () {
        if (this.isMounted) {
          return this.$refs.rightContainer.clientHeight
        }
      }
    }
  },

  methods: {
    deleteWidget(widget) {
      var idx = this.activeWidgets.indexOf(widget)
      this.activeWidgets.splice(idx, 1)
    },

    addWidget(widget) {
        if (this.activeWidgets.findIndex((i) => i.name === widget.name) == -1) {
          this.activeWidgets.push(widget)
        }
        this.route(widget.path)
    },

    route(name) {
        Router.push(name)
    }
  },

  mounted() {
    this.isMounted = true
  }
}
</script>

<style>

</style>
